<% cf = custom_value.custom_field %>
<% values = custom_value.value.to_s.split(/[,\n]+/).map(&:strip).reject(&:blank?) %>
<% groups = CfGroup.where(custom_field_id: cf.id) %>
<% grouped = [] %>

<% groups.each do |group| %>
  <% matched = values & group.group_values %>
  <% if matched.any? %>
    <% grouped << { name: group.name, values: matched } %>
    <% values -= matched %>
  <% end %>
<% end %>

<% if values.any? %>
  <% grouped << { name: '미분류', values: values } %>
<% end %>

<div class="custom-field-grouped">
  <strong><%= cf.name %></strong>
  <div class="group-columns">
    <% grouped.each do |g| %>
      <div class="cf-group">
        <div class="cf-group-title"><%= g[:name] %></div>
        <div class="cf-group-values"><%= g[:values].join(', ') %></div>
      </div>
    <% end %>
  </div>
</div>
