@import "easy_redmine/functions";

$spacing: 12px;
$spacing_coeficient: 2;
$roundiness: 0.2;
$font-family: 'Ubuntu', 'Open Sans', sans-serif;
$headings-font-family: inherit;
$font-size: 14px;
$font-h1: 1.8em;
$font-h2: 1.5em;
$font-h3: 1.25em;
$font-h4: 1.125em;
$font-small: .89em;
$font-smallest: 10px;
$font-size--menu: 0.9375em;
$base-line-height: 1.5;
$color-main: #5db0d6;
$color-muted: #9aaab8;
$color-background: #232323;
$color-foreground: #2d2d2d;
$color-text: #bfbfbf;
$color-text-muted: #6b6b6b;
$color-links: #ae1400;
$color-important: #f4bd00;
$color-positive: #5eccbf;
$color-negative: #ea3841;
$color-highlight: #454545;
$color-notice: darken($color-highlight,30%);
$color-border: #525252;
$color-border-minor: #3d3d3d;
$color-main-border: darken($color-main, 10%);
$color-important-border: darken($color-important, 10%);
$color-positive-border: darken($color-positive, 10%);
$color-negative-border: darken($color-negative, 10%);
$color-highlight-border: darken($color-highlight, 15%);
$color-print: #000;
$color-step: 5;
$color-palette-1: #edd84c;
$color-palette-2: #e79d5c;
$color-palette-3: #dc7c7c;
$color-palette-4: #cd6fae;
$color-palette-5: #b05ecc;
$color-palette-6: #7f7fe4;
$color-palette-7: #76a5e4;
$color-palette-8: #8fd7ce;
$color-palette-9: #92cc82;
$color-palette-10: #c6db5e;
$color-palette-11: #b7b5a5;
$color-palette-12: #b19f8d;
$color-palette-13: #eed63a;
$color-top-background: #333333;
$color-top-border: darken($color-top-background, 10%);
$color-top-text: #919191;
$color-top-active: $color-positive;
$topmenu__height: 60px;
$menumore__width: 240px;
$leftmenu__width: 480px;
$mainmenu__height: 30px;
$color-more-background: #333333;
$color-more-foreground: $color-foreground;
$color-more-text: #bfbfbf;
$color-more-text-muted: rgba($color-more-text,.25);
$color-more-border: darken($color-more-background, 2%);
$servicebar__width: $topmenu__height;
$servicebar__height: 75px;
$servicebar-color: #919191;
$servicebar-background: $color-foreground;
$servicebar-border: $color-border;
$servicebar-component__width: 400px;
$servicebar-component-background: #333333;
$servicebar-component-foreground: $color-foreground;
$servicebar-component-border: $servicebar-component-background;
$color__calendar--hilight: #232323;
$form-background: mix($color-foreground, $color-background);
$form-field-background: #1b1b1b;
$form-field-border: $color-border-minor;
$form-field__max-width: 350px;
$form-field__height: 36px;
$tabular__offset: 140px;
$tabular__offset--large: 240px;
$button__height: $form-field__height;
$button__height--small: .8*$button__height;
$button__height--mini: .5*$button__height;
$button-base-background: $color-background;
$button-base-color: $color-text;
$button-main-background: $color-main;
$button-main-color: $color-foreground;
$button-important-background: $color-important;
$button-important-color: $color-foreground;
$button-positive-background: $color-positive;
$button-positive-color: $color-foreground;
$button-negative-background: $color-negative;
$button-negative-color: $color-foreground;
$modal__color--backdrop: #232323;
$modal__opacity--backdrop: .8;
$tab__height: 36px;
$avatar__size: 32px;
$scrollbar-background: #232323;
$scrollbar-background-border: 1px solid #525252;
$scrollbar-foreground: #333333;
$scrollbar-foreground-border: 1px solid #525252;
$scrollbar__width: 12px;
$scrollbar__radius: 6px;
$mailer__color--back: $color-background;
$mailer__color--front: $color-foreground;
$mailer__color--text: $color-text;
$mailer__color--heading: $mailer__color--text;
$mailer__color--mixed: mix($mailer__color--back,$mailer__color--front);
$mailer__color--border: $color-border;
$mailer__color--links: $color-links;
$mailer__color--muted: $color-muted;
$mailer__color--positive: $color-positive;
$mailer__color--negative: $color-negative;
$mailer__width: 800px;
$mailer__padding: 24px;











$login-bg-url: url("/images/easy_images/easy_theme_designs/1/190709153928_stars.jpg?1609137053");





$custom-brand-active: true;

$rails-env: production;


$internal-brand: easy_dark_theme;



@import 'easy_redmine/generated';



@import 'easy_gantt/dhtmlxgantt';

@import 'easy_gantt/sass/_gantt';

@import 'easy_gantt/_easy_gantt';

@import 'easy_instant_messages_source';

@import 'mindmup';

@import 'easy_mindmup_buffer';

@import 'sass/_mindmup';

@import 'easy_vue/easy_vue_modal.scss';


body.action-login #top-menu #logo a, body.action-easy_support_login #top-menu #logo a, body.action-logout #top-menu #logo a{
height: 60px;
}

*::-webkit-scrollbar-thumb,*::-webkit-scrollbar-track {
border-right: none;
border-top: none;
border-bottom: none;
}
